*{
    margin: 0;
    padding: 0;
}

nav{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 90vh;
}

.calc{
    background-color: red;
    border: 2px solid black;
    min-width: 35vw;
    max-width: 35vw;
    min-height: 60vh;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
}

.answer{
    min-width: 100%;
    min-height: 15vh;
    background-color: gray;
    color: black;
}

.numPad{
    background-color: green;
    min-height: 45vh;
}