*{
    margin: 0;
    padding: 0;
}

header{
    min-width: 100vw;
}

nav{
    min-height: 10vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 90vh;
}

.calc{
    background-color: red;
    min-width: 35vw;
    max-width: 35vw;
    min-height: 60vh;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
}

.answer{
    min-width: 100%;
    min-height: 15vh;
    background-color: gray;
    color: black;
    border: 3px solid black;
    box-sizing: border-box;
    font-size: 4vw;
    position: relative;
}

#ans{
    position: absolute;
    display: block;
    bottom: 1vw;
    right: 1vw;
}

.numPad{
    background-color: green;
    border: 2px solid red;
    box-sizing: border-box;
    min-height: 45vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(4,25%);
}

.btn{
    background-color: green;
    color: white;
    font-size: 2vw;
}
.blue{
    background-color: blue;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.01,1.01);
}